.profileContainer{
    display: flex;
    align-items: center;
    margin-top: 12rem;
}

.profileContainer > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
     
}

.boxRegister button{
background: #ff9000;
height: 56px;
border-radius: 10px;
border: 0;
padding: 0 16px;
color: #312e38;
width: 100%;
font-weight: 500;
margin-top: 16px;
transition: background-color 0.2s;

}


.labelInput{
         font-size: 2rem;
    
    }
    



.profileContainer > img:hover {
        /* animacao */
        animation: tremer .2s;
        animation-iteration-count: 4;
}


.profileContainer > div {
    margin-left: 1.5rem;
}


.profileContainer div strong {
    font-family: 'Days One', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--title);

}

.profileContainer div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}


.profileContainer div p img {
    margin-right: 0.5rem;

}

@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}